/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #033a80;
  --bg-color: #fff;
  --text-color: #0f0c27;
  --hover: hsl(260, 100%, 51%);
 
  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}
section {
  padding: 50px 10%;
}
body.active {
  --text-color: #fff;
  --bg-color: #0f0c27;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: 30px;
}
 
.heading span {
  font-size: var(--p-font);
  color: rgb(2, 166, 70);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  color: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73,
				2px 2px 5px rgba(94, 104, 121, 0.288);
}
header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
.logo {
  font-size: 1.61rem;
  font-weight: 600;
  color: var(--text-color);
}
.navbar {
  display: flex;

 
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--bg-color);
  font-weight: 500;
  text-decoration: none;
  
}
.navbar a:hover {
  color: var(--hover);
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
#darkmode {
  font-size: 22px;
  cursor: pointer;
  

}
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}
.home-img {
  order: 3;
}
.home-img img {
  width: 70%;
  border-radius: 50%;
  margin-left: 15%;
}
.home-text{
  padding-left: 20%;
  margin-top: 5%;
}
.home-text span {
  font-size: var(--medium-font);
  font-weight: 500;
}
.home-text h1 {
  font-size: var(--big-font);
}
.home-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
}
.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}
.social {
  display: flex;
  flex-direction: column;
}
.social a {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--text-color);
}
.social a:hover {
  color: var(--hover);
}
.btn {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
}
.btn:hover {
  background: var(--hover);
}
 

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
 
.about-img img {
  width: 80%;
  border-radius: 1.8rem;
}
.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
  margin-top: 30%;
}
.information {
  margin: 1rem 0 1.4rem;
}
.email{
  text-decoration: none;
}
.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.information .info-box .bx {
  font-size: 22px;
}
.information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}
.skills-heading{
  text-align: center;
  margin-top: 20px;
}
.hr{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid;
  color: hsla(260, 100%, 44%, 0.4);
  

 
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}
.skills-img img {
  width: 80%;
  padding-left: 4rem;
  object-position: center;
}
.bars-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.others{
  text-align: center;
  margin-top: 25px;
 
}
#otherskills2{
  font: var(--medium-font);
}
.star{
  align-items: center;
}
.hr-others{
  align-items: center;
 

}
.bars-box h3,
span {
  font-size: 1.1rem;
  font-weight: 500;
}
.light-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: hsla(260, 100%, 44%, 0.4);
  border-radius: 0.5rem;
}
.percent-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  background: var(--main-color);
  border-radius: 0.5rem;
}
.html-bar {
  width: 84%;
}
.css-bar {
  width: 60%;
}
.bootstrap-bar {
  width: 80%;
}
.php-bar {
  width: 45%;
}
.javascript-bar {
  width: 50%;
}
.python-bar {
  width: 50%;
}
.sql-bar {
  width: 85%;
}
.mongodb-bar {
  width: 40%;
}
.react-bar {
  width: 30%;
}
.reactnative-bar {
  width: 25%;
}
#otherskills1{
  justify-content: center;
}
.experience-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.experienceheading{
  text-decoration: underline;
  
}
.experience-box {
  padding: 20px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
}
.experience-box:hover{
 background-color: #02225a;
 color: var(--bg-color);
}

.experience-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}
.experience-box:hover h3{
  color: #fff;
}
.experience-box .bx {
  padding-top: 2rem;
  font-size: 54px;
  color: var(--main-color);
}
.experience-box:hover .bx{
  color: #22cf91;
}
.experience-box a {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}
.experience-box:hover a{
  color: #8b8a8f;
}
.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1rem;
  margin-top: 2rem;
}


.projects-img {
  overflow: hidden;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.projects-img img {
  width: 85%;

  display: block;
}
.projects-img img:hover {
  transform: scale(1.1);
  transition: 1s;
}
.contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  width: 650px;
}
form input,
textarea {
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background:  #ebebeb;
  margin-bottom: 1rem;
  color: var(--text-color);
}
form input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}
form textarea {
  resize: none;
  height: 200px;
}
.send-button {
  width: 160px;
  cursor: pointer;
  background: #2768d9;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 35%;
}
.contact-button:hover {
  background: var(--hover);
}
.backtotop{
  text-align: end;
 
  
}
.footer {
  display: grid;
  place-items: center;
  padding: 20px;
  background: #ebebeb;
  color: #000;
}
.footer h2 {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}
.footer-social a i{
  color: rgb(10, 26, 208);
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.copyright {
  padding: 20px;
  background: rgba(52, 48, 48, 0.877);
  text-align: center;
  color: #fff;
}
.copyright a{
  color: #22cf91;
  text-decoration: none;
}
 